* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.color-picker-ctn {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {background-color: black;}
.blue {background-color: blue;}
.white {background-color: white}
.grey {background-color: gray}
.red {background-color: red}

.selected {
    border: 3px solid red;
}

.shoe-img {
    width: 350px;
}

header {
    background-image: linear-gradient(transparent,transparent);
    display: flex;
}

a {
    text-decoration:none;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.logo-ctn {
    display: flex;
    justify-content: center;
    width: 33%;
}

.links-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.empty {
    width:33%;
}

.price-ctn {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.price-btn {
    margin: 5px;   
}

.shoes-ctn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}