* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.color-picker-ctn {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {background-color: black;}
.white {background-color: white}
.red {background-color: red}
.blue {background-color: blue;}
.pink {background-color: pink;}

.selected {
    border: 3px solid red;
}

.shoe-img {
    width: 350px;
    height: 350px;
    border: 1px solid black;
}

header {
    background-image: linear-gradient(transparent,transparent);
    display: flex;
}

a {
    text-decoration:none;
    color: black;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.logo-ctn {
    display: flex;
    justify-content: center;
    width: 33%;
}

.links-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.empty {
    width:33%;
}

.price-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-btn {
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 60%;
    font-size: larger;
}

.shoes-ctn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.panier {
    margin: 10px;
}

.shoe-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-picker-ctn {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.disponibility-ctn {
    display: flex;
    align-items: center;
}

.modal {
    position: absolute;
    display: none;
    right: 0px;
    width: 30%;
    height: 100vw;
}
